*.class
.git
.vscode
target
*.ipr
*.iml
*.iws
bin
dist
node_modules
jspm_packages
_temp
temp
**.log.*
**.log
.idea
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
